.Gradient-Row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Precision-Slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Precision-Slider span {
  margin-left: 0.5em;
  margin-top: 0.2em;
}

.Restore-Error {
  color: #AA0000;
}

.State-Blob {
  overflow: hidden;
  white-space: pre-wrap;
}
