.Sidebar {
  background-color: rgba(0, 0, 64, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 0;
  max-width: 20em;
  position: absolute;
  top: 0;
}

.toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em 1em;
  width: 100%;
}

.toggle-text {
  flex-grow: 1;
}

.toggle-icon {
  flex-grow: 0;
}

.toggle-icon::before {
  content: "»"
}

.expanded .toggle-icon::before {
  content: "«";
}

.Content {
  border-bottom-right-radius: 0.5em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0 1em;
}

.toggle {
  background: transparent;
  border-bottom-right-radius: 0.3em;
  border-radius: 0em;
  border: 1px solid transparent;
}

.expanded .toggle {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

button, select, input {
  background: transparent;
  border-radius: 0.3em;
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: inherit;
  padding: 0.2em 0.5em;
}

button {
  background: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

button::-moz-focus-inner {
  border: none;
}

button:hover {
  background: rgba(128, 128, 128, 0.4);
}

select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

input[type="color"], input[type="range"] {
  border: none;
}

input[type="number"] {
  padding-right: 0;
}
