.CollapseBox {
  $transition-duration: 120ms;
  $border: 1px solid rgba(128, 128, 128, 0.5);

  background: transparent;
  border: $border;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  & > .toggle {
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: border-bottom $transition-duration;
    width: 100%;

    & > .toggle-text {
      flex-grow: 1;
    }

    & > .toggle-icon {
      flex-grow: 0;
      transform: rotate(90deg);
      transition: transform $transition-duration;

      &:first-child::before, &:last-child::after {
        content: "»"
      }

      &:first-child {
        margin-right: 0.5em;
      }

      &:last-child {
        margin-left: 0.5em;
      }
    }
  }

  & > .content-wrapper {
    overflow: hidden;
    transition-duration: $transition-duration;
    transition-property: max-height, padding;
  }

  & > .content-wrapper > .Content {
    padding: 0.5em 1em;
  }

  &:not(.expanded) {
    & > .content-wrapper {
      max-height: 0;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &.expanded {
    & > .toggle {
      border-bottom: $border;

      & > .toggle-icon {
        transform: rotate(90deg) scaleX(-1);
      }
    }
  }
}
