.Sidebar {
  $transition-duration: 200ms;

  background-color: rgba(0, 0, 40, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 0;
  max-width: 25em;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity $transition-duration;

  &:hover {
    background-color: rgba(0, 0, 40, 0.8);
  }

  &:hover, &.expanded {
    opacity: 1;
  }

  & > .toggle {
    background: transparent;
    border-bottom-right-radius: 0.3em;
    border-radius: 0em;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5em 1em;
    width: 100%;

    .toggle-text {
      flex-grow: 1;
    }

    .toggle-icon {
      flex-grow: 0;
      transform: rotate(90deg);
      transition: transform $transition-duration;

      &:first-child::before, &:last-child::after {
        content: "»"
      }
    }
  }

  & > .Content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1em;
    transition: max-height $transition-duration;
  }

  button, select, input, a.button {
    background: transparent;
    border-radius: 0.3em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: inherit;
    padding: 0.2em 0.5em;
  }

  button, a.button {
    background: rgba(128, 128, 128, 0.2);
    cursor: pointer;
    font-weight: normal;
  }

  button::-moz-focus-inner, a.button::-moz-focus-inner {
    border: none;
  }

  button:hover, a.button:hover {
    background: rgba(128, 128, 128, 0.4);
    color: inherit;
  }

  select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  input[type="color"], input[type="range"] {
    border: none;
  }

  input[type="number"] {
    padding-right: 0;
  }

  &.expanded {
    & > .Content {
      border-bottom-right-radius: 0.5em;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      border-right: 1px solid rgba(128, 128, 128, 0.5);
      max-height: 60em;
    }

    & > .toggle {
      border: 1px solid rgba(128, 128, 128, 0.5);

      .toggle-icon {
        transform: rotate(90deg) scaleX(-1);
      }
    }
  }

}
